<h1>Reviews for <%= link_to @movie.title, @movie %></h1>
<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <p><%= render "shared/stars", percent: review.stars_as_percent %></p>
      <p>
        <%= profile_image(review.user, 35) %>
        <%= link_to review.user.name, review.user %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
      <p>
        <%= link_to "Delete", [@movie, review], class: "button", data: {
          turbo_method: :delete,
          turbo_confirm: "Do you really want to delete this movie!?"
        } %>
      </p>
    </li>
  <% end %>
</ul>
